body {
    
}

h1 {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: relative;
    
}

p {
    font-size: relative;
}

strong {
    font-size: larger;
    color:red;
}

div {
    border: solid;
    width: 60%;
    height: 10cm;
    padding: 12%;
    text-align: center;
    background-color:lightgoldenrodyellow;
    border-image-source:url(Képek\\Cartoon.jfif);
    border-image-slice:60% 60% 60% 60%;
    border-image-width: 50%;
    border-image-outset:0px; 
    border-image-repeat:  stretch stretch;
    position: absolute;
    box-shadow:20px 20px 25px black;
}
html {
    background-color: lightgrey;
}